body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #4c7a2d;
}

.timeline-container {
    position: relative;
    width: 80%; /* Make the timeline container 80% of the window width */
    height: 150px;
    margin-bottom: 30px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    transform: translateY(-50%);
}

.timeline {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.line-container {
    position: relative;
}

.vertical-line {
    width: 4px;
    height: 50px;
    background-color: #000;
}

.vertical-line.up {
    position: absolute;
    bottom: 100%;
}

.vertical-line.down {
    position: absolute;
    top: 100%;
}

.blank {
    width: 200px;
    height: 100px;
    margin: 0;
    background-color: #ddd;
    border: 2px dashed #aaa;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.blank#blank-1,
.blank#blank-3,
.blank#blank-5 {
    bottom: 100%;
    transform: translateY(-50%,-100%);
}

.blank#blank-2,
.blank#blank-4 {
    top: 100%;
    transform: translateY(-50%,100%);
}

.tiles-container {
    display: flex;
    gap: 10px;
}

.tile {
    width: 200px;
    height: auto;
    background-color: #8cc269;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
