body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #d9fac3;
    background-image: url('https://images.pexels.com/photos/1423600/pexels-photo-1423600.jpeg');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.timeline-container {
    position: relative;
    width: 80%; /* Make the timeline container 80% of the window width */
    height: 400px; 
    margin-bottom: 30px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    transform: translateY(-50%);
}

.timeline {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.line-container {
    position: relative;
}

.vertical-line {
    width: 4px;
    height: 100px;
    background-color: #000;
}

.vertical-line.up {
    position: absolute;
    bottom: 100%;
}

.vertical-line.down {
    position: absolute;
    top: 100%;
}

.blank {
    width: 200px;
    height: 90px;
    margin: 0;
    background-color: #ddd;
    border: 2px dashed #aaa;
    text-align: center;
    line-height: 100px; /* 30*/
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.blank#blank-1,
.blank#blank-3,
.blank#blank-5 {
    bottom: calc(100% + 80px); /* Position the blank at the end of the upward vertical lines */

  /*  bottom: 100%;
    
    transform: translateY(-50%,-200%); */
}

.blank#blank-2,
.blank#blank-4 {

    top: calc(100% + 80px); /* Position the blank at the end of the downward vertical lines */

    /*top: 100%;
    transform: translateY(-50%,200%);*/
}

.tiles-container {
    display: flex;
    gap: 10px;
}

.tile {
    width: 200px;
    height: auto;
    background-color: #406249;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
